# a comment

set $Mod WIN

disable_win_key true

bindsym $Mod+Shift+Q kill

bindsym $Mod+R run
bindsym $Mod+I debug graph
bindsym $Mod+F fullscreen
bindsym $Mod+Shift+Space floating toggle

# Layout
bindsym $Mod+S layout stacking
bindsym $Mod+E layout toggle split

# Focus
bindsym $Mod+Left focus left
bindsym $Mod+Up focus up
bindsym $Mod+Right focus right
bindsym $Mod+Down focus down

# Resize
bindsym $Mod+Alt+Left resize shrink right 20
bindsym $Mod+Alt+Up resize shrink down 20
bindsym $Mod+Alt+Right resize grow right 20
bindsym $Mod+Alt+Down resize grow down 20

# Move
bindsym $Mod+Shift+Left move left
bindsym $Mod+Shift+Up move up
bindsym $Mod+Shift+Right move right
bindsym $Mod+Shift+Down move down
bindsym $Mod+Shift+1 move workspace number 0
bindsym $Mod+Shift+2 move workspace number 1
bindsym $Mod+Shift+3 move workspace number 2
bindsym $Mod+Shift+4 move workspace number 3
bindsym $Mod+Shift+5 move workspace number 4
bindsym $Mod+Shift+6 move workspace number 5
bindsym $Mod+Shift+7 move workspace number 6
bindsym $Mod+Shift+8 move workspace number 7
bindsym $Mod+Shift+9 move workspace number 8
bindsym $Mod+Shift+0 move workspace number 9

# Vertical/Horizontal
bindsym $Mod+V split vertical
bindsym $Mod+H split horizontal

# workspaces
bindsym $Mod+1 workspace number 0
bindsym $Mod+2 workspace number 1
bindsym $Mod+3 workspace number 2
bindsym $Mod+4 workspace number 3
bindsym $Mod+5 workspace number 4
bindsym $Mod+6 workspace number 5
bindsym $Mod+7 workspace number 6
bindsym $Mod+8 workspace number 7
bindsym $Mod+9 workspace number 8
bindsym $Mod+0 workspace number 9

bar {
    position bottom
    colors {
        background #000000
        statusline #ffffff
        # color class:     border  background text
        focused_workspace  #4c7899 #285577    #ffffff
        inactive_workspace #333333 #222222    #888888
    }
}